@import "colors"

/**
 * ROFI Color theme
 * User: Qball
 * Copyright: Dave Davenport
 */
* {
    background-color:      @bg-color;
    border-color:          @br-color;
    text-color:            @t-color;
    // font:            "Times New Roman 12";
}

window {
    anchor:     north;
    location:   north;
    width:      100%;
    padding:    4px;
    children:   [ horibox ];
}
horibox {
    orientation: horizontal;
    children:   [ prompt, entry, listview ];
}
listview {
    layout:     horizontal;
    spacing:    5px;
    lines:      100;
}
entry {
    expand:     false;
    width:      10em;
}
element {
    padding: 0px 2px;
}
element selected {
    background-color: @bg-color;
}

element-text, element-icon {
  background-color: inherit;
  text-color: inherit;
}
// window {
//     width: 50%;
//     transparency: "real";
//     orientation: vertical;
//     cursor: "default";
//     spacing: 0px;
//     border: 2px;
//     background-color: @base;
//     border-color: @overlay1;
//     border-radius: 20px;
// }
//
// mainbox {
//     padding: 15px;
//     enabled: true;
//     orientation: vertical;
//     children: [
//         inputbar,
//         listbox
//     ];
//     background-color: transparent;
// }
//
// inputbar {
//     enabled: true;
//     padding: 10px 10px 10px 10px;
//     margin: 10px;
//     background-color: @surface2;
//     border-color: @overlay2;
//     border-radius: 25px;
//     orientation: horizontal;
//     children: [
//         entry,
//         dummy,
//         mode-switcher
//     ];
//     //background-image: url("~/Pictures/wallpapers/gruv-wallhaven-4yj28l.png", width);
// }
//
// entry {
//     enabled: true;
//     expand: false;
//     width: 20%;
//     padding: 10px;
//     border-radius: 12px;
//     cursor: "text";
//     placeholder: "🖥️ Search ";
//     placeholder-color: inherit;
// }
//
// listbox {
//     spacing: 10px;
//     padding: 10px;
//     border-radius: 25px;
//     background-color: @base;
//     orientation: vertical;
//     children: [
//         message,
//         listview
//     ];
// }
//
// listview {
//     enabled: true;
//     columns: 2;
//     lines: 6;
//     cycle: true;
//     dynamic: true;
//     scrollbar: false;
//     layout: vertical;
//     reverse: false;
//     fixed-height: false;
//     fixed-columns: true;
//     spacing: 10px;
//     background-color: transparent;
//     border: 0px;
// }
//
// dummy {
//         expand: true;
//         background-color: transparent;
// }
//
// mode-switcher {
//     enabled: true;
//     spacing: 10px;
//     background-color: transparent;
// }
//
// button {
//     width: 5%;
//     padding: 12px;
//     border-radius: 12px;
//     cursor: pointer;
//     background-color: @lavender;
//     text-color: @crust;
// }
//
// button selected {
//     background-color: @blue;
// }
//
// scrollbar {
//     width: 4px;
//     border: 0;
//     handle-color: @base;
//     handle-width: 8px;
//     padding: 0;
// }
//
// element {
//     enabled: true;
//     spacing: 10px;
//     padding: 10px;
//     border-radius: 12px;
//     background-color: transparent;
//     cursor: pointer;
// }
//
// element normal.normal {
//     background-color: inherit;
//     text-color: inherit;
// }
//
// element normal.urgent {
//     text-color: @pink;
// }
//
// element normal.active {
//     text-color: @yellow;
// }
//
// element selected.normal {
// }
//
// element selected.urgent {
// }
//
// element selected.active {
// }
//
// element alternate.normal {
//     background-color: transparent;
//     text-color: inherit;
// }
//
// element alternate.urgent {
//     background-color: transparent;
//     text-color: inherit;
// }
//
// element alternate.active {
//     background-color: transparent;
//     text-color: inherit;
// }
//
// element-icon {
//     background-color: transparent;
//     text-color: inherit;
//     size: 36px;
//     cursor: inherit;
// }
//
// element-text {
//     background-color: transparent;
//     font: "Terminess Nerd Font Mono 14";
//     /*text-color: inherit;*/
//     //text-color: #000000;
//     text-color: @subtext0;
//     cursor: inherit;
//     vertical-align: 0.5;
//     horizontal-align: 0.0;
// }
//
// message {
//     background-color: transparent;
//     border: 0px;
// }
//
// textbox {
//     padding: 12px;
//     border-radius: 10px;
//     vertical-align: 0.5;
//     horizontal-align: 0.0;
// }
//
// error-message {
//     padding: 12px;
//     border-radius: 20px;
// }
