[Unit]
Description=Run gammastep to enable a bluelight filter everyday at 21:30

[Timer]
OnCalendar=*-*-* 21:30:00
Persistent=true

[Install]
WantedBy=timers.target
