@import "colors.css"; 

* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    /* background-color: @crust; */
    color: @bottom-border;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid @bottom-border;
}

#window {
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @workspaces;
    border-top: 2px solid @workspaces;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @workspaces;
    border-top: 2px solid @workspaces;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @workspacs;
    border-top: 2px solid @workspaces;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#backlight,
#power-profiles-daemon,
#scratchpad {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#clock {
    color: @clock;
    border-bottom: 2px solid @clock;
}

#clock.date {
    /* color: @mauve; */
    /* border-bottom: 2px solid @mauve; */
    color: @clock;
    border-bottom: 2px solid @clock;
}

#pulseaudio {
    color: @pulseaudio;
    border-bottom: 2px solid @pulseaudio;
    padding-left: 8;
    padding-right: 8;
}

#network {
    color: @network;
    border-bottom: 2px solid @network;
    padding-left: 8;
    padding-right: 8;
}


#battery {
    color: @battery;
    border-bottom: 2px solid @battery;
    padding-left: 8;
    padding-right: 8;
}

#backlight {
    color: @backlight;
    border-bottom: 2px solid @backlight;
    padding-left: 8;
    padding-right: 8;
}

#custom-notification {
    font-size: 25px;
    color: @swaync;
    border-bottom: 2px solid @swaync;
    padding-left: 8;
    padding-right: 8;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

/* #custom-vpn { */
/*     color: @lavender; */
/*     border-radius: 15px; */
/*     padding-left: 6px; */
/*     padding-right: 6px; */
/* } */

#power-profiles-daemon {
    font-size: 25px;
}

#power-profiles-daemon.performance {
    color: @ppd-p;
    border-bottom: 2px solid @ppd-p;
}
#power-profiles-daemon.balanced {
    color: @pulseaudio;
    border-bottom: 2px solid @pulseaudio;
}
#power-profiles-daemon.power-saver {
    color: @battery;
    border-bottom: 2px solid @battery;
}

